<!DOCTYPE html>

<section class="bg">
  <div class="container">
    <h1>Selecione a opção desejada:</h1>
    <div class="flex flex-cv flex-ch flex-wr">
      <a [routerLink]="['/extrato']" class="flex flex-cv flex-ch flex-wr">
        <img src="../../assets/ico-extrato.png" alt="Extrato">
        <p>Extrato</p>
      </a>
      <a [routerLink]="['/transferencias']" class="flex flex-cv flex-ch flex-wr">
        <img src="../../assets/ico-transferencia.png" alt="Transferências">
        <p>Transferências</p>
      </a>
    </div>
  </div>
</section>
