<!DOCTYPE html>

<section class="bg flex flex-cv flex-ch">
  <div class="main">
    <img src="../../assets/logo.png" alt="FlowBank">
    <div class="box-login">
      <h1>Bem-vindo</h1>
      <hr>
      <p>Digite abaixo seu CPF e sua senha:</p>
      <div class="input cpf">
        <img src="../../assets/ico-pessoa.png" alt="ico-pessoa">
        <input [(ngModel)]='login.cpf' type="text" placeholder="CPF">
      </div>
      <div class="input">
        <img src="../../assets/ico-senha.png" alt="ico-cadeado">
        <input [(ngModel)]='login.senha' type="password" placeholder="Senha">
      </div>
      <button (click)="fazerLogin()">Acessar</button>
    </div>
  </div>
</section>

<section class="modal-login flex flex-cv flex-ch">
  <div class="box">
    <h1>
    </h1>
    <button (click)="fecharModal()">Voltar</button>
  </div>
</section>
